
<div class="container center_div">

  <p>Your question: <%= @your_message %></p>
  <h3>Coach said: <%= @coach %></h3>

  <%= link_to "Ask a new question", "http://localhost:3000/coaching/ask/" %>

</div>
